// * {
//   border: 1px solid #000000;
// }


html {
	background-color: #efebdf;
	height: 100%;
}

body {
	@extend html;
	padding-top: 50px;
}

// div#main-container {
// 	padding: 0;
// }

div#main-row {
	height: 100%;
}

/***************** NAVIGATION STYLING ******************/


.bottom-border {
	border-bottom: 2px solid #b1a1a1;
}

.dotted-bottom {
	border-bottom: 1px dotted #b1a1a1;
}

.quicksand-font {
	font-family: 'Quicksand', sans-serif;
}

.source-font {
	font-family: 'Source Sans Pro', sans-serif;
}

img {
	width: 190px;
	height: auto;
	/*margin-left: 10px;*/
	position: fixed;
	z-index: 1000;
}

/***************** #SIDEBAR STYLING ******************/

.less-padding {
	padding: 0 5px 0 5px;

    label {
        font-weight: 500;
    }
}

.sidebar, nav {
	background-color: #FCFBF9;
}

.red-button {
	background-color: #c25975;
	border: none;
	border-bottom: 3px solid #9f3954;
}

.green-button {
	background-color: #52bab3;
	border: none;
	border-bottom: 3px solid #42958F;
}

.fat-button {
	margin-top: 15px;
	padding: 3px 7px;
	font-size: 1em;
	border-radius: 4px;
}

.thin-button-padding {
	padding: 1px 6px;
	border-radius: 4px;
}

#filter-form {
    padding: 25px 19px;
}

#sidebar-container {
    padding: 0;
}

/** select box **/
#artist-select,
#album-select {
	background-color: #A8DCD9;
	border: none;
	border-radius: 4px;
	width: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .85em;
}


/***************** SONG LIST STYLING ******************/

#song-list, 
#add-songs {
	background-color: #FCFBF9;
	box-sizing: border-box;
	border-radius: 9px;
}

#add-songs {
	h2 {
		color: #4C4C4C;
		margin: 0;
		line-height: .9em;
		padding: .6em 0 .7em 1em;
	}
	label {
		margin-left: 1em;
	}
	.row {
		margin-bottom: 4px;
	}
}

#add-songs container p {
	padding: 0 1em 1.07em 1.5em;
	line-height: .9em;
	margin: 0;
}

//styling for dynamically-loaded song list
#song-container {
	color: #4C4C4C;
	margin: 0;
	line-height: .9em;
	h2 {
		padding: 0 0 0 .6em;
		margin-top: 12px;
	}
	p {
		padding: 0 1em 1.07em 1.5em;
		line-height: .9em;
		margin: 0;
	}
	.col-md-10,
	.col-md-2 {
		padding: 0;
	}
	.relative-position {
		position: relative;
	}
}
.vertical-align {
	position: absolute;
	margin-top: 20%;
	right: 15%;
}

#song-container > div:first-child {
	border-radius: 9px 9px 0 0;
}

#song-container > div:last-child {
	border-radius: 0 0 9px 9px;
	border: none;
}

#song-container > div:nth-child(2n+0) {
	background: #F9F2DB;
}

#song-container > div:nth-child(2n+1) {
	background: #FCFBF9;
}

// show more button
#more-songs {
	margin: 1em 0 0 7em;
}

/************* Add music styling ************/

button#add-music {
	margin: 20px 30px;
}



/************* DYNAMIC STYLES *************/

.hidden {
	display: none;
}










#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FCFBF9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


