html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	max-width: 70%;
	font-family: Ariel, sans-serif;
}

/***************** NAVIGATION STYLING ******************/

.navigation {
	border: 2px solid black;
}

#nav {
	list-style-type: none;
	text-align: left;
  	padding: 20px 9px;
  	margin: auto 0;
  	background-color: #FFB4B0;
}

#nav li {
	padding: 0 1em;
  	width: 45px;
 	text-align: left;
  	display: inline;
}


/***************** #SIDEBAR STYLING ******************/

#sidebar {
	border: 2px solid black;
	float: left;
	margin: 4% 4% 0 0;
	max-width: 35%;
	background-color: #4DD7FA;
}







/***************** SONG LIST STYLING ******************/

#song-list {
	border: 2px solid black;
	float: right;
	margin: 4% 0 0 0;
	width: 59%;
	background-color: #FEFAC0;
}







