<div id="add-songs" class="hidden quicksand-font">
  <container id="song-add-container">
    <h2 class="add-music-header">Add Music</h2>
    <p>
      <label for="Song">Song:</label>
      <input type="text" name="Song" id="inputSong">
    </p>
    <p>
      <label for="artist">Artist:</label>
      <input type="text" name="artist" id="inputArtist">
    </p>
    <p>
      <label for="Album">Album:</label>
      <input type="text" name="Album" id="inputAlbum">
    </p>
    <button id="add-music" class="quicksand-font fat-button-padding green-button">Add</button>
  </container>
</div>