<div id="song-list" class="quicksand-font">
  <container id="song-container">

    <div class='dotted-bottom song-item-div' ng-repeat="song in songs">
      <h2>{{ song.title }}</h2>
      <p class='delete-song'>
        <button class='green-button thin-button-padding quicksand-font' ng-click="deleteSong(song)">Delete</button>
      </p>
      <p> {{song.artist}} - {{song.album}} </p>
    </div>
    
  </container>
</div>
<button id="more-songs" class="green-button fat-button-padding quicksand-font" ng-click="showMore()">Show More</button>