{{#each songs}}
<div class='row dotted-bottom'>
	<div class='col-md-10'>
		<h2>{{title}}</h2>
		<p>{{artist}} - {{album}}</p>
	</div>
	<div class='col-md-2'>
		<button class='green-button thin-button-padding quicksand-font'>Delete</button>
	</div>
</div>
{{/each}}